<h1 id="users-service">Petstore Service</h1>

###Types of Pets 
####Dogs:
They are the true friend of man.

####Cat:
Men are the true pet of cats.

<%= partial "includes/generated-sources/petstore.md" %>

